<mat-toolbar color="primary" class="header">
  <span class="nav-tool-items"  *ngIf="currentUrl !== '/login' && currentUrl !== '/'">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <div><img src="/assets/logo.png" alt="amen bank logo" width="150" srcset=""></div>

</mat-toolbar>
<mat-sidenav-container>
  <!-- ========== Start SideMenu Display ========== -->
  <!--
    *ngIf checks if current url is /login or not, and displays the sidemenu if it isn't
  -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true" [hidden]="!isLoggedIn"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLink="/account">
        <mat-icon>account_balance_wallet</mat-icon>Comptes
      </a>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-icon>payments </mat-icon>Virement
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/virement-cac">Compte à Compte</a>
        <a mat-list-item routerLink="/virement-benef">Bénéficiaire</a>
      </mat-expansion-panel>
      <a mat-list-item routerLink="/chatbot">
        <mat-icon>face_4</mat-icon>Assistante AI
      </a>
      <a *ngIf="isAdmin" mat-list-item routerLink="admin"><mat-icon>admin_panel_settings</mat-icon>Coin Admin</a>
      <a mat-list-item (click)="logout()"><mat-icon>logout</mat-icon>Déconnecter</a>
    </mat-nav-list>
  </mat-sidenav>
<!-- ========== End SideMenu Display ========== -->

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Applying the mat-tyography class adds styles for native elements. -->
    <section class="mat-typography title-group">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>