.container{
    height: 50vh;
}
.container::before{
    content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
    background-image: url("/assets/accounts.png");
    background-position: 100% 100%; /*Positioning*/
    background-size: 40%;
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    opacity: 0.15;
}
.show-pointer{
    cursor: pointer;
}